.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList__settings {
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.emailList__section {
    display: flex;
    /* position: sticky; */
    top: 0;
    /* justify-content: space-between; */
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__mailList {
    padding-bottom: 20%;
}
