.mail {
    flex: 1;
    /* background-color: whitesmoke; */
    /* background: transparent; */
    background-image: url(https://i.redd.it/qwd83nc4xxf41.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.mail__tools {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}

.mail__toolsLeft {
    display: flex;

}

.mail__toolsRight {
    display: flex;
}

.mail__body {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1534504969382-fec3d9ffdd73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=812&q=80);
    background-size: cover;
    padding: 20px;
    height: 70vh;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail_bodyHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 15px;
    position: relative;
}

.mail_bodyHeader > h2 {
        font-weight: 400;
        margin-right: 20px;
}

.mail__important {
    color: tomato;
}

.mail_bodyHeader > p {
    margin-left: 20px;

}

/* .mail__message > p {
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
} */

.mail__time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: gray;
}