.mail {
    flex: 1;
    background-color: whitesmoke;
    /* background: transparent; */
    height: 95vh;
}

.mail__tools {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}

.mail__toolsLeft {
    display: flex;

}

.mail__toolsRight {
    display: flex;
}

.mail__body {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    background-image: url(https://images.pexels.com/photos/3512848/pexels-photo-3512848.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    padding: 20px;
    height: 70vh;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail_bodyHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 15px;
    position: relative;
}

.mail_bodyHeader > h2 {
        font-weight: 400;
        margin-right: 20px;
}

.mail__important {
    color: tomato;
}

.mail_bodyHeader > p {
    margin-left: 20px;

}

/* .mail__message > p {
    padding: 10px;
    margin-right: 20px;
    overflow-wrap: break-word;
} */

.mail__time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: gray;
}