*{
  margin: 0;
  overflow: hidden;
}
body {
  background-image: url(https://www.teahub.io/photos/full/75-753259_gmail-theme.jpg);
  background-repeat: no-repeat;
  /* background-size: ; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
